* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.container {
  height: 100vh;
  background: linear-gradient(90deg, #f3f6f9, #cadcfa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 45%;
  width: 50%;
  background-color: white;
  border-radius: 16px;
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-rows: 10% 60% 25%;
  gap: 2.5%;
}

.card-container::before {
  content: "";
  height: 150px;
  width: 70px;
  position: absolute;
  top: 80%;
  left: -5%;
  background-image: radial-gradient(circle, #ffffff 2px, transparent 3px);
  background-size: 15px 15px;
}

.card-container::after {
  content: "";
  height: 70px;
  width: 150px;
  position: absolute;
  top: -10%;
  left: 90%;
  background-image: radial-gradient(circle, #ffffff 2px, transparent 3px);
  background-size: 15px 15px;
}

.card-container-top {
  display: flex;
  justify-content: end;
}
.card-container-middle {
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card-container-middle-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-middle-info h1 {
  font-size: 1.3rem;
}

.card-container-middle-info h2 {
  font-size: 2rem;
  text-transform: uppercase;
  background: linear-gradient(45deg, #ff354d 0%, #ff482f 44%, #fe6108 100%);
  display: inline;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card-container-middle-info p {
  font-size: .9rem;
  font-weight: 100;
  margin-top: 16px;
}
.card-container-middle-info p::after {
  content: "Subscribe now!";
  font-weight: bold;
}
.card-container-bottom {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-container-bottom form{
  /* border: 1px solid; */
  height: 48px;
  width: 500px;
  display: grid;
  grid-template-columns: 80% 20%;
}

.card-container-bottom form input{
  height: 100%;
  border-radius: 0;
  border: none;
}

.card-container-bottom form input[type="text"]{
  border:1px solid #B7B7B7;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: none;
  padding: 1rem;
}

.card-container-bottom form input[type="button"]{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(45deg, #ff354d 0%, #fe6108 100%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.card-container-bottom p{
  color: #B7B7B7;
}
